<div id="articles">
  <% for @article in @articles %>
    <article class="article">
    <div class="title">
      <h1><%= link_to_unless_current @article.title, @article %></h1>
    </div>

    <div class="intro">
      <%= @article.intro.html_safe %>
    </div>
    </article>
  <% end %>
</div>

