<article id="article">
  <div class="title">
    <h1><%= link_to_unless_current @article.title, @article %></h1>
  </div>

  <div class="intro">
    <%= @article.intro %>
  </div>

  <div class="extended">
    <%= @article.extended %>
  </div>
</article>

