<div class="show-user">
  <h2>Articles by <%= @user.name %></h2>
  <ul id="articles">
  <% for article in @user.articles %>
    <li><%= link_to article.title, article %></li>
  <% end %>
  </ul>
</div>

